.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 850px;
  //min-height: 600px;
  background-color: #F9FAFB;
  border: 10px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}
.Main-app {
  
}



